
@model List<SHOP_DIENTHOAI.Models.SAN_PHAM>
<div class="products">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="product">
                <div class="image"><a href="@Url.Action("ChiTiet",new {id =item.MA_SP})"><img src="~/Asset/images/@item.HinhAnh"></a></div>
             
                <div class="caption">
                    <div class="name"><h3><a href="@Url.Action("ChiTiet",new {id=item.MA_SP })" style="color:red">@item.TEN_SP</a></h3></div>
                    <div class="price" style="color: deepskyblue">@String.Format("{0:0,0}", item.GIA) VNĐ</div>
                    <div class="price" style="color: deepskyblue">Số lượng còn: @item.SOLUONG</div>
                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                </div>

            </div>
        </div>
    }
</div>


